</body>
<footer class="mastfoot  mt-auto color-partial section-padding-footer">
  <div class="inner">

    <div class="container">
      <div class="row">
        <div class="col-6 ">


          <a class="nav-mastfooter" href="/"><p>Inicio</p></a>
          <a class="nav-mastfooter" href="/quienes-somos"><p>Quienes Somos</p></a>
          <a class="nav-mastfooter" href="/servicios"><p>Servicios</p></a>
          <a class="nav-mastfooter" href="/contactanos"><p>Contacto</p></a>
        </div>
        <div class="col-6 nav-footer text-right">
          <p>Simple y Creativo</p>
          <p> Telefono: +569 659 610 86</p>
          <p> Santiago </p>

        </div>
        <div class="col-12 text-center">
          <p>Pagina Web desarrollada por Simple y Creativo.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
</footer>








</html>
