</body>
<footer class="mastfoot  mt-auto color-partial section-padding-footer">
  <div class="inner">

    <div class="container">
      <div class="row">
        <div class="col-6">

<ul>
  <li><a class="nav-mastfooter" href="/">Inicio</a></li>
  <li><a class="nav-mastfooter" href="/quienes-somos">Quienes Somos</a></li>
  <li><a class="nav-mastfooter" href="/servicios">Servicios</a></li>
  <li><a class="nav-mastfooter" href="/contactanos">Contacto</a> </li>
</ul>
        </div>
        <div class="col-6 nav-footer text-right">
          <p>Simple y Creativo</p>
          <p> Telefono: +569 659 610 86</p>
          <p> Santiago </p>

        </div>
        <div class="col-12 text-center">
          <p>Pagina Web desarrollada por Simple y Creativo.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
</footer>


<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>





</html>
