<%- include("partials/header"); -%>

<div class=" p-3 text-center bg-orange">
    <h1 class="font-claro">Contacto</h1>
  </div>

<div class="container section-padding">

  <div class="form-row">

    <div class="form-group col">
      <h3>Escríbenos y te contactaremos a la brevedad!</h3>
      <form class="" action="/" method="post">
      <label >Nombre</label>
      <input type="text" class="form-control" placeholder="Esteban Valencia" name="name">
      <label> Teléfono de contacto </label>
      <input type="number" class="form-control" placeholder="+569 25432187" name="numero">
      <label >Mail</label>
      <input type="email" class="form-control" placeholder="contacto@simpleycreativo.cl" name="email">
      <label >¿En qué te podemos ayudar? Cuéntanos</label>
      <textarea class="form-control" rows="3" placeholder="Escriba aquí sobre su idea o proyecto. Te contactaremos a la brevedad." name="textBox"></textarea>
      <button type="submit" class="btn btn-lg btn-secondary mt-3">Enviar</button>
    </div>

    <%# <div class="col d-none d-lg-block">
      <div class="test-img">

      </div>
    </div> %>

      </div>
</form>

</div>

<%- include("partials/footer"); -%>
