


<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

  <!-- FontAwsome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap" rel="stylesheet">

  <!-- B4 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- css Folder-->
  <link rel="stylesheet" href="css/styles.css">

  <title> Simple y Creativo</title>


</head>

<body class="bg-orange ">

<div class="container text-center font-naranjo-claro">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">UPS!</h1>
      <h2>Tuvimos un problema con tu solicitud</h2>
      <p class="lead">Refresca la página y vuelve a poner tu solicitud. Si el problema persiste puedes ponerte en contacto a traves de nuestro mail o por telefono</p>
      <a href="/contactanos" class="btn btn-lg btn-secondary">Volver al inicio</a>
    </div>
  </div>
</div>




</body>




</html>
