<%- include("partials/header"); -%>

<main role="main" class="inner cover font-claro color-red">

  <div class="container section-padding-title">
    <div class="row text-center">
      <div class="col-6 mx-auto col-md-4 order-md-2">
        <img src="img/logo_250w.png" alt="logo.png">
      </div>
      <div class="col-md-6 order-md-1 pr-md-5 ">
        <h1 class="mb-3 title-font-color">¿Quieres hacer una página web para tu negocio?</h1>
        <h2 class="mb-3 title-font-color"> ¡Nosotros te ayudamos! </h2>

        <div class=" flex-column flex-md-row ">
          <a href="/quienes-somos" class="btn btn-lg btn-secondary mb-3">Quienes Somos</a>
          <a href="/servicios" class="btn btn-lg btn-secondary mb-3">Nuestro Servicio</a>
        </div>

      </div>
    </div>
  </div>


</main>
<div class="color-yellow font-naranjo-claro">

<div class="px-lg-8 px-lg-8 section-padding">

  <div class="row mx-lg-n5">

    <div class="col py-3 px-lg-8 text-center">
      <img src="img/recurso1.png" class="img-prop" alt="taza-img">
    </div>
    <div class="col py-3 px-lg-5">
      <h2>Sentémonos a conversar</h2>
      <p>Co-construyamos tu página web para que se adapte a lo que necesites.</p>
      <p>ofecemos un servicio profesional acorde a las necesidades de tu marca para que pondamos generar la mejor ventana hacia tus clientes. </p>
      <a href="/servicios" class="btn btn-lg btn-secondary mb-3 ">Conoce nuestros servicios</a>

    </div>
  </div>
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 text-right">
      <h2>Un montón de ideas</h2>
      <p>Echemos a volar la imaginacion para que <strong>tu idea</strong> pueda concretarse en tu <strong>página web</strong></p>
      <p>Ofrecemos un trabajo profesional y acorde a tus gustos</p>
      <a href="/contactanos" class="btn btn-lg btn-secondary mb-3 text-center">Contáctanos</a>
    </div>
    <div class="col py-3 px-lg-5 text-center">
      <img src="img/recurso2.png" class="img-prop" alt="taza-img">
    </div>

  </div>

</div>
</div>



<%- include("partials/footer"); -%>
