<%- include("partials/header"); -%>

<main role="main" class="inner font-claro bg-orange">

  <div class="container section-padding-title">
    <div class="row text-center">

      <div class="col-lg-6 order-lg-1">
        <img src="img/logo_250w.png" class="img-fluid " alt="logo.png">
      </div>

      <div class=" col-lg-6 order-lg-0 align-self-center">
        <h2 class="mb-3 title-font-color">¿Quieres hacer una página web para tu negocio?</h2>
        <h1 class="mb-3 title-font-color"> ¡Nosotros te ayudamos! </h1>
        <div class=" flex-column flex-md-row ">
          <a href="/quienes-somos" class="btn btn-lg btn-title btn-secondary mb-3">Quienes Somos</a>
          <a href="/servicios" class="btn btn-lg btn-title btn-secondary mb-3">Nuestro Servicio</a>
        </div>
      </div>

    </div>
  </div>


</main>
<div class="color-yellow font-naranjo-claro">

<div class="section-padding">

  <div class="row mx-lg-n5 padding-bottom">

    <div class="col-lg-4 text-center">
      <img src="img/recurso1.png" class="img-fluid" alt="taza-img">
    </div>
    <div class="col-lg-6 text-lg-left text-center align-self-center">
      <h2>Sentémonos a conversar</h2>
      <p>Co-construyamos tu página web para que se adapte a lo que necesites.</p>
      <p>Ofecemos un servicio profesional acorde a las necesidades de tu marca para que pondamos generar la mejor ventana hacia tus clientes. </p>
      <a href="/servicios" class="btn btn-lg btn-secondary ">Nuestros servicios</a>

    </div>
  </div>
  <div class="row mx-lg-n5">

    <div class="col-lg-4 text-center order-lg-1">
      <img src="img/recurso2.png" class="img-fluid" alt="taza-img">
    </div>

    <div class="col-lg-7 offset-lg-1 text-lg-right text-center order-lg-0 align-self-center">
      <h2>Un montón de ideas</h2>
      <p>Echemos a volar la imaginacion para que <strong>tu idea</strong> pueda concretarse en tu <strong>página web</strong></p>
      <p>Ofrecemos un trabajo profesional y acorde a tus gustos</p>
      <a href="/contactanos" class="btn btn-lg btn-secondary mb-3 text-center">Contáctanos</a>
    </div>

  </div>

</div>
</div>



<%- include("partials/footer"); -%>
