<%- include("partials/header"); -%>

<main role="main" class="inner cover">

  <div class="container section-padding-title">
    <div class="row">
      <div class="col-6 mx-auto col-md-4 order-md-2">
        <img src="img/logo_250w.png" alt="logo.png">
      </div>
      <div class="col-md-8 order-md-1 pr-md-5">
        <h1 class="mb-3">¿Quieres hacer tu página web?</h1>
        <h2 class="mb-3"> ¡Nosotros te ayudamos! </h2>

        <div class=" flex-column flex-md-row">
          <a href="/quienes-somos" class="btn btn-lg btn-secondary mb-3">Quienes Somos</a>
          <a href="/servicios" class="btn btn-lg btn-secondary mb-3">Nuestro Servicio</a>
        </div>

      </div>
    </div>
  </div>


</main>
<div class="color-orange">

<div class="px-lg-8 px-lg-8 section-padding">

  <div class="row mx-lg-n5">

    <div class="col py-3 px-lg-8 text-center">
      <img src="img/recurso1.png" class="img-prop" alt="taza-img">
    </div>
    <div class="col py-3 px-lg-5">
      <h2>Hablemos de tu proyecto</h2>
      <p>Construyamos juntos tu proyecto que sea acorde a tus intereses y necesidades</p>
      <p>ofecemos un servicio profesional acorde a las necesidades de tu marca para que pondamos generar la mejor ventana hacia tus clientes. </p>


    </div>
  </div>
</div>
</div>

<div class="px-lg-8 px-lg-8 section-padding ">
  <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5">
      <h2>Un monton de ideas</h2>
      <p>Echemos a volar la imaginacion para que tu idea pueda concretarse en tu página web</p>
      <a href="/contactanos" class="btn btn-lg btn-secondary mb-3">Contáctanos</a>
      <p>Ofrecemos un trabajo profesional y acorde a tus gustos</p>
    </div>
    <div class="col py-3 px-lg-5 text-center">
      <img src="img/recurso2.png" class="img-prop" alt="taza-img">
    </div>

  </div>
</div>

<%- include("partials/footer"); -%>
