<%- include("partials/header"); -%>

<div class=" p-3 text-center bg-orange">
<h1 class="font-claro"> ¿Quienes somos?</h1>
</div>


<div class="container text-center font-naranjo-claro">

  <div class="row">
    <div class="pt-5 col-lg-12 col-md-12 ">
    <p>  Somos un grupo de amigos que junto con competir por quién ocupaba la mesa para zurdos en la universidad, adquirimos conocimientos gracias a la pandemia que permitirán que tu negocio sea un éxito. ¡Trabajemos juntos para que tu marca se vea, se escuche y funcione bien!</p>
    </div>
</div>

  <div class="row padding-bottom">

    <div class=" col-lg-6 col-md-6">
      <img src="/img/oscar.png" class="img-retrato img-fluid" alt="oscar-img">
    <p>  ¡Hola! Soy Óscar, periodista de profesión de la Universidad Adolfo Ibáñez, con experiencia en medios de comunicación y asesorias comunicacionles a personajes públicos (entre ellas, la de un candidato presidencial). Gracias a la cuarentena aprendí diseño y animación por lo que podemos montar un mensaje potente para tu página.</p>
    </div>

    <div class=" col-lg-6 col-md-6">
      <img src="/img/gonza.png" class="img-retrato img-fluid" alt="gonza-img">
    <p>  ¡Hola! Soy Gonzalo, ingeniero comercial y fotógrafo de profesión, titulado en la Universidad Adolfo Ibáñez y en Arcos respectivamente. Soy experto en el área de gestión de marcas y buscaré que tu idea sobresalga por sobre las demás y consigas tus objetivos. Gracias a la cuarentena aprendí programación y edición digital </p>
    </div>
  </div>

  <div class="row pb-5 justify-content-center">
    <div class="col-6 text-center">
      <p>Tenemos la competencias adecuadas para hacer de tu página web una hermosa ventana de tu marca para que esta sea vea moderna, práctica y estética</p>
      <p>Conoce mas lo que hacemos</p>
        <a href="/servicios" class="btn btn-lg btn-secondary mb-3">Nuestro Servicio</a>
      </div>
  </div>

</div>





<%- include("partials/footer"); -%>
