<%- include("partials/header"); -%>
<div class="section-padding">

<h1> ¿Quienes somos?</h1>
<p>Somos un grupo amigos que decidimos volcar nuestra experiencia en apoyar a las empresas a que se adentren en el mundo de la web para asi crear valor en estas a traves de la optimizacion de la web </p>
<p>Conoce mas detalles de nuestro trabajo</p>
  <a href="/servicios" class="btn btn-lg btn-secondary mb-3">Nuestro Servicio</a>
</div>

<%- include("partials/footer"); -%>
