<%- include("partials/header"); -%>
<div class="section-padding font-naranjo-claro">

<div class="row">
  <div class="col">
    <h1>Servicios</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h1 class="text-center">¡Que tu idea luzca!</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3 class="text-center">Todo lo que necesitas</h3>

    <ul>
      <li><strong>Encabezados, logos y colores</strong> de acuerdo a lo que quieras proyectar.</li>
      <li> <strong>Sitio web amigable y responsivo </strong>para teléfonos celulares y computadores.</li>
      <li> Tendrás un <strong>“home”</strong>, un <strong>“contacto”</strong>, un <strong>“productos”</strong> y otras rutas acordadas previamente.</li>
      <li> Integracion de tu página Web con tus <strong>redes sociales</strong>.</li>
    </ul>

  </div>

  <div class="col">
    <h3 class="text-center">Página web a tu medida </h3>
    <ul>
      <li>Podrás revisar los últimos detalles antes que sea publicado.</li>
      <li>Hacemos el <strong>código</strong>: Columna vertebral del sitio, único y personalizado para tu web.</li>
      <li>Podrás enviar <strong>Newsletter</strong> vía Mailchimp (en caso de ser necesario).</li>
    </ul>

  </div>

</div>

<div class="row text-center">
  <div class="col">
    <h3>Este servicio incluye un dominio .CL vía “nic Chile”
y un servidor web dedicado para tu sitio.</h3>
<a href="/contactanos" class="btn btn-lg btn-secondary mb-3">Cotiza con Nosotros</a>

</div>
</div>

</div>

<%- include("partials/footer"); -%>
