<%- include("partials/header"); -%>

<div class="container section-padding">
  <div class="row">
    <div class="col-lg-5">
      <h6>El texto de arriba que funciona de LEAD</h6>
      <h2>El mini titulito</h2>
      <p class="lead"> Acá viene un texto indecoroso para ponerle color al archivo</p>
      <p>Y este es el texto común, cuma y flaite para que pegue más fuerte</p>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <img src="Fotos/About/Seis.jpg" alt="hola">
    </div>
  </div>
</div>


<div class="container section-padding">
  <div class="row">
    <div class="col-lg-4">
      <img src="Fotos/About/Cuatro.jpg" alt="hola">
    </div>
    <div class="col-lg-5 offset-lg-3">
      <h6>Un nuevo titulito</h6>
      <h2>Acá nos creemos Loren Ipsum y escribimos cualquier cosa</h2>
      <p class="lead">Porque todo el mundo requiere cazuela los días que hace frío, porque hace frío loco, mucho frío</p>
      <button class="btn btn-primary btn-lg">Join the Dark Order</button>
    </div>
  </div>
</div>




<%- include("partials/footer"); -%>
