<%- include("partials/header"); -%>

<div class=" p-3 text-center bg-orange">
    <h1 class="font-claro">Servicios</h1>
  </div>

<div class="section-padding container font-naranjo-claro">
<div class="row">
  <div class="col">
    <h1 class="text-center">¡Que tu idea luzca!</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3 class="text-center">Diseño de páginas web</h3>

    <ul>
      <li>Creación de plataforma acorde a la identidad de marca.</li>
      <li>Programación de un sitio web personalizado.</li>
      <li> <strong>Sitio web amigable y responsivo </strong>para teléfonos celulares y computadores.</li>
      <li>Capacitación al cliente para la autogestión de la plataforma.</li>
      <li> Integracion de tu página Web con tus <strong>redes sociales</strong>.</li>
    </ul>

  </div>

  <div class="col">
    <h3 class="text-center">Diseño de marcas </h3>
    <ul>
      <li>Creación y proyeccion de la identidad de la marca.</li>
      <li>Diseño de logotipos acorde a las necesidades del cliente.</li>
      <li>Diseño de Slogan</li>
      <li>Generación de piezas gráficas para espacios publicitarios</li>
    </ul>

  </div>

</div>


<div class="row text-center">
  <div class="col">
    <h3>Este servicio incluye un dominio .CL vía “nic Chile”
y un servidor web dedicado para tu sitio.</h3>
<a href="/contactanos" class="btn btn-lg btn-secondary mb-3">Cotiza con Nosotros</a>

</div>
</div>

</div>

<%- include("partials/footer"); -%>
